@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Poppins&display=swap');

/* common css */
.common-font{
    font-family: 'Montserrat Alternates', sans-serif;
}
.common-color{
    color: #e10f28;
}
.common-bg{
    background-color: #e10f28;
}
.header-super-title{
    border-bottom:3px solid #e10f28;
}
.bg-slider{
    background-image:url('../../../images/bgn-slider-01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.header-title{
    font-weight: 800;
    font-size: 70px;
}
.header-sub-title{
    font-size: 70px;
}
.btn-common{
    font-weight: 500;
    padding: 8px 16px;
    color: white;
    text-transform: uppercase;
}